@font-face {
  font-family: 'Funnel Display';
  font-style: normal;
  font-weight: 300;
  font-display: swap;
  src: url(../fonts/B50bF7FGv37QNVWgE0ga--4PbZSRJXrOHcLHLoAYxGPXWA.ttf) format('truetype');
}
@font-face {
  font-family: 'Funnel Display';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(../fonts/B50bF7FGv37QNVWgE0ga--4PbZSRJXrOHcLHLoAYmmPXWA.ttf) format('truetype');
}
@font-face {
  font-family: 'Funnel Display';
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: url(../fonts/B50bF7FGv37QNVWgE0ga--4PbZSRJXrOHcLHLoAYqGPXWA.ttf) format('truetype');
}
@font-face {
  font-family: 'Funnel Display';
  font-style: normal;
  font-weight: 600;
  font-display: swap;
  src: url(../fonts/B50bF7FGv37QNVWgE0ga--4PbZSRJXrOHcLHLoAYRGTXWA.ttf) format('truetype');
}
@font-face {
  font-family: 'Funnel Display';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url(../fonts/B50bF7FGv37QNVWgE0ga--4PbZSRJXrOHcLHLoAYfWTXWA.ttf) format('truetype');
}
@font-face {
  font-family: 'Funnel Display';
  font-style: normal;
  font-weight: 800;
  font-display: swap;
  src: url(../fonts/B50bF7FGv37QNVWgE0ga--4PbZSRJXrOHcLHLoAYGmTXWA.ttf) format('truetype');
}
