@font-face {
  font-family: 'Funnel Sans';
  font-style: italic;
  font-weight: 300;
  font-display: swap;
  src: url(../fonts/OpNZno8Dg9bX6Bsp3Wq69Tp3ZBbKP5ZAjyZVXToyPWVJ.ttf) format('truetype');
}
@font-face {
  font-family: 'Funnel Sans';
  font-style: italic;
  font-weight: 400;
  font-display: swap;
  src: url(../fonts/OpNZno8Dg9bX6Bsp3Wq69Tp3ZBbKP5ZAjyZVXTpsPWVJ.ttf) format('truetype');
}
@font-face {
  font-family: 'Funnel Sans';
  font-style: italic;
  font-weight: 500;
  font-display: swap;
  src: url(../fonts/OpNZno8Dg9bX6Bsp3Wq69Tp3ZBbKP5ZAjyZVXTpePWVJ.ttf) format('truetype');
}
@font-face {
  font-family: 'Funnel Sans';
  font-style: italic;
  font-weight: 600;
  font-display: swap;
  src: url(../fonts/OpNZno8Dg9bX6Bsp3Wq69Tp3ZBbKP5ZAjyZVXTqyOmVJ.ttf) format('truetype');
}
@font-face {
  font-family: 'Funnel Sans';
  font-style: italic;
  font-weight: 700;
  font-display: swap;
  src: url(../fonts/OpNZno8Dg9bX6Bsp3Wq69Tp3ZBbKP5ZAjyZVXTqLOmVJ.ttf) format('truetype');
}
@font-face {
  font-family: 'Funnel Sans';
  font-style: italic;
  font-weight: 800;
  font-display: swap;
  src: url(../fonts/OpNZno8Dg9bX6Bsp3Wq69Tp3ZBbKP5ZAjyZVXTrsOmVJ.ttf) format('truetype');
}
@font-face {
  font-family: 'Funnel Sans';
  font-style: normal;
  font-weight: 300;
  font-display: swap;
  src: url(../fonts/OpNfno8Dg9bX6Bsp3Wq69RB-VukSVv3aISFAy3mEfg.ttf) format('truetype');
}
@font-face {
  font-family: 'Funnel Sans';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(../fonts/OpNfno8Dg9bX6Bsp3Wq69RB-VukSVv3aISFAlXmEfg.ttf) format('truetype');
}
@font-face {
  font-family: 'Funnel Sans';
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: url(../fonts/OpNfno8Dg9bX6Bsp3Wq69RB-VukSVv3aISFAp3mEfg.ttf) format('truetype');
}
@font-face {
  font-family: 'Funnel Sans';
  font-style: normal;
  font-weight: 600;
  font-display: swap;
  src: url(../fonts/OpNfno8Dg9bX6Bsp3Wq69RB-VukSVv3aISFAS36Efg.ttf) format('truetype');
}
@font-face {
  font-family: 'Funnel Sans';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url(../fonts/OpNfno8Dg9bX6Bsp3Wq69RB-VukSVv3aISFAcn6Efg.ttf) format('truetype');
}
@font-face {
  font-family: 'Funnel Sans';
  font-style: normal;
  font-weight: 800;
  font-display: swap;
  src: url(../fonts/OpNfno8Dg9bX6Bsp3Wq69RB-VukSVv3aISFAFX6Efg.ttf) format('truetype');
}
